<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="login" cl>login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"  routerLink="rejester">Resjester</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"  routerLink="counter">
              <img class=cart src="../../assets/cart4.svg" alt=""> 
              <div class="counter" [style.display]="counter === 0 ? 'none' : 'block'">{{ counter }}</div>
            </a>
          </li>
        </div>
      </div>
    </div>
  </nav>
  